<section>
    <div class="custom-centered">
        <div class="container-fluid" class="btn btn-primary"><h5>Manage Benificiaries</h5></div><br>
        <br><div class="container-fluid">
            <a [routerLink]="['/addbenificiary']"><button class="btn btn-secondary"><mat-icon>group_add</mat-icon>&nbsp;&nbsp;Add new Benificiary</button></a>
        </div><br>
        <div class="container-fluid">
            <a [routerLink]="['/listbeneficiaries']"><button class="btn btn-secondary"><mat-icon>dehaze</mat-icon>&nbsp;&nbsp;List All Benificiaries</button></a>
        </div><br>
    </div>
</section>
