<section>
    <div class="custom-centered">
        <table class="container-fluid">
            <tr >
                <td colspan="3"><div class="container p-3 my-3 bg-primary text-white"><h5>Benificiaries</h5></div></td>
            </tr>
            <tr *ngFor="let beneficiary of benificiaries">
                <td>
                    <tr><td><strong>Benificiary Name</strong></td><td>:dfsfhytgj</td></tr>
                    <tr><td><strong>Beneficiary Account Number</strong></td><td>:edtyguygfwtgyuhg</td></tr>
                    <tr><td><strong>Nick Name</strong></td><td>:tgrye567</td></tr>
                </td>
                <td><button (click)="onDelete()" class="btn btn-danger">Delete Beneficiary</button></td>
            </tr>
            <tr><td colspan="3"><hr></td></tr>
        </table>
    </div>
</section>

