<section>
    <div class="container" class="custom-centered">
        <div class="container p-2 my-4 bg-dark text-white">
            <h2>Transfer Successful</h2>
        </div>
        <table class="container-fluid">
            
            <tr>
                <td>Reference ID</td>
                <td>765678</td>
            </tr>
            <tr>
                <td>Mode</td>
                <td>rtgs</td>
            </tr>
            <tr>
                <td>Paid To Account</td>
                <td>xxxxxxxxx89</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>9887</td>
            </tr>
            <tr>
                <td>From Account</td>
                <td>xxxxxxxxxxx78</td>
            </tr>
            <tr>
                <td>On</td>
                <td>7689</td>
            </tr>
            <tr>
                <td>Remarks</td>
                <td>hgfghjcx</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><button class="btn btn-secondary" (click)="onClose()">Close</button></td>
            </tr>
        </table>
    </div>
    
</section>