<section>
    <div class="container" class="custom-centered">
        <div class="container p-2 my-4 bg-dark text-white">
            <h2>Transfer Successful</h2>
        </div>
        <table class="container-fluid">
            
            <tr>
                <td><strong>Reference ID</strong></td>
                <td>765678</td>
            </tr>
            <tr>
                <td><strong>Mode</strong></td>
                <td>rtgs</td>
            </tr>
            <tr>
                <td><strong>Paid To Account</strong></td>
                <td>xxxxxxxxx89</td>
            </tr>
            <tr>
                <td><strong>Amount</strong></td>
                <td>9887</td>
            </tr>
            <tr>
                <td><strong>From Account</strong></td>
                <td>xxxxxxxxxxx78</td>
            </tr>
            <tr>
                <td><strong>On</strong></td>
                <td>7689</td>
            </tr>
            <tr>
                <td><strong>Remarks</strong></td>
                <td>hgfghjcx</td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="2" style="text-align: center;"><button class="btn btn-secondary" (click)="onClose()">Close</button></td>
            </tr>
        </table>
    </div>
    
</section>